# Python and MySQL

# I - Experimentations

In [1]:
# Import of librairies

import mysql.connector as mariadb
import pandas as pd

In [2]:
# Loading credentials for maria-db AWS use

db_credentials = pd.read_csv("../../aws_mariadb_crendentials.csv", index_col="Field")
print(db_credentials.index)

Index(['user', 'password', 'host'], dtype='object', name='Field')

In [3]:
# Connection
mariadb_connection = mariadb.connect(
    user=db_credentials.loc["user"][0],
    password=db_credentials.loc["password"][0],
    host=db_credentials.loc["host"][0],
    port=3306,
    db = "db_velib")

cursor = mariadb_connection.cursor()

In [4]:
# Typing the SQL query

query = """
SELECT DISTINCT * FROM velib_realtime
WHERE station_id = 9034 and date(data_actualisation)=date("2020-04-29")
ORDER BY data_actualisation DESC
"""

# Creating a subquerry to import the name of the columns for future pandas DataFrame
cursor.execute(query)
field_names = [i[0] for i in cursor.description]
df = pd.DataFrame(cursor, columns=field_names)
df.head()

,station_id,operational_station,nb_free_docks,nb_total_free_bikes,nb_free_mechanical_bikes,nb_free_electrical_bikes,payment_totem,bike_return_possible,data_actualisation,date_of_update
0,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:19:00
1,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-30 00:18:00
2,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:36:00
3,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:37:00
4,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:38:00

# II - Creating proper functions

In [5]:
class sql_query:
    def __init__(self, credentials_path):
        db_credentials = pd.read_csv(credentials_path, index_col="Field")
    
    def __call__(self, query):
        cursor.execute(query)
        field_names = [i[0] for i in cursor.description]
        df = pd.DataFrame(cursor, columns=field_names)
        return df

In [6]:
# Testing

request = sql_query(credentials_path="../../aws_mariadb_crendentials.csv")

query = """
SELECT DISTINCT * FROM velib_realtime
WHERE station_id = 9034 and date(data_actualisation)=date("2020-05-06")
ORDER BY data_actualisation DESC
"""

request(query)

,station_id,operational_station,nb_free_docks,nb_total_free_bikes,nb_free_mechanical_bikes,nb_free_electrical_bikes,payment_totem,bike_return_possible,data_actualisation,date_of_update
0,9034,OUI,13,9,3,6,OUI,OUI,2020-05-06 11:36:06,2020-05-06 11:49:00
1,9034,OUI,13,9,3,6,OUI,OUI,2020-05-06 11:36:06,2020-05-06 11:39:00
2,9034,OUI,13,9,3,6,OUI,OUI,2020-05-06 11:36:06,2020-05-06 11:40:00
3,9034,OUI,13,9,3,6,OUI,OUI,2020-05-06 11:36:06,2020-05-06 11:42:00
4,9034,OUI,13,9,3,6,OUI,OUI,2020-05-06 11:36:06,2020-05-06 11:43:00
...,...,...,...,...,...,...,...,...,...,...
667,9034,OUI,21,1,0,1,OUI,OUI,2020-05-06 00:29:13,2020-05-06 01:18:00
668,9034,OUI,21,1,0,1,OUI,OUI,2020-05-06 00:29:13,2020-05-06 01:19:00
669,9034,OUI,21,1,0,1,OUI,OUI,2020-05-06 00:29:13,2020-05-06 01:20:00
670,9034,OUI,21,1,0,1,OUI,OUI,2020-05-06 00:29:13,2020-05-06 01:21:00
671,9034,OUI,21,1,0,1,OUI,OUI,2020-05-06 00:29:13,2020-05-06 00:37:00