# Python and MySQL

In [1]:
# Import of librairies

import mysql.connector as mariadb
import pandas as pd

In [2]:
# Connection
mariadb_connection = mariadb.connect(user = "velib_read",
                              passwd = "mdp",
                              db = "db_velib")

cursor = mariadb_connection.cursor()

In [3]:
# Typing the SQL query

query = """
SELECT * FROM velib 
WHERE station_id = 14013
"""

In [4]:
# Execution

cursor.execute(query)

In [5]:
# Data addition in a pandas DataFrame
df = pd.DataFrame(cursor)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,14013,Liard - Amiral Mouchez,OUI,14,12,2,2,0,OUI,OUI,2020-04-20T15:49:08+02:00,"48.8214169,2.342167",Paris,\r
1,2048,14013,Liard - Amiral Mouchez,OUI,14,12,2,2,0,OUI,OUI,2020-04-20T15:49:08+02:00,"48.8214169,2.342167",Paris,\r
2,4753,14013,Liard - Amiral Mouchez,OUI,14,12,2,2,0,OUI,OUI,2020-04-20T15:50:52+02:00,"48.8214169,2.342167",Paris,\r
3,6803,14013,Liard - Amiral Mouchez,OUI,14,12,2,2,0,OUI,OUI,2020-04-20T15:50:52+02:00,"48.8214169,2.342167",Paris,\r
4,8189,14013,Liard - Amiral Mouchez,OUI,14,12,2,2,0,OUI,OUI,2020-04-20T15:49:08+02:00,"48.8214169,2.342167",Paris,\r
5,10919,14013,Liard - Amiral Mouchez,OUI,14,11,3,2,1,OUI,OUI,2020-04-20T15:49:08+02:00,"48.8214169,2.342167",Paris,\r
6,12963,14013,Liard - Amiral Mouchez,OUI,14,11,3,2,1,OUI,OUI,2020-04-20T15:49:08+02:00,"48.8214169,2.342167",Paris,\r
7,14930,14013,Liard - Amiral Mouchez,OUI,14,11,3,2,1,OUI,OUI,2020-04-20T15:50:52+02:00,"48.8214169,2.342167",Paris,\r
8,16979,14013,Liard - Amiral Mouchez,OUI,14,11,3,2,1,OUI,OUI,2020-04-20T15:50:52+02:00,"48.8214169,2.342167",Paris,\r
9,19102,14013,Liard - Amiral Mouchez,OUI,14,11,3,2,1,OUI,OUI,2020-04-20T15:49:08+02:00,"48.8214169,2.342167",Paris,\r